{% extends 'dashboard/base.html' %}
{% load static %}

<!-- Title -->
{% block title %}
Quiz Create
{% endblock %}

<!-- CSS -->
{% block css %}
{% endblock %}

{% block content %}
<!-- Main Content -->
<div class="main-content">
  <section class="section">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <h4>Quiz Options</h4>
      </div>
      <br>
      <form action="{% url 'dashboard:quiz-create' user.id %}" method="post">
        {% csrf_token %}
        <div class="card-body">
          <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="title" required>
          </div>
        </div>
        <div class="card-footer text-right">
          <button class="btn btn-primary mr-1" type="submit">Submit</button>
          <button class="btn btn-secondary" type="reset">Reset</button>
        </div>
      </form>      
    </div>
</div>
{% endblock %}

<!-- JS -->
{% block js %}
{% endblock %}
