{% extends 'dashboard/base.html' %}
{% load static %}

<!-- Title -->
{% block title %}
Quiz Create
{% endblock %}

<!-- CSS -->
{% block css %}
{% endblock %}

{% block content %}
<!-- Main Content -->
<div class="main-content">
  <section class="section">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <h4>Quiz Options</h4>
      </div>
      <br>
      <form method="post">
        {% csrf_token %}
        <div class="card-body">
            <div id="form-container" class="form-group">
            </div>
        </div> 
        <div class="card-footer text-right">
            <button type="button" class="btn btn-primary mr-1" onclick="addInput()">Add Input</button>
            <button type="submit" class="btn btn-success">Submit</button>
        </div>    
      </form>    
    </div>
</div>
{% endblock %}

<!-- JS -->
{% block js %}
<script>
    function addInput() {
        var container = document.getElementById("form-container");
        var inputNumber = container.childElementCount + 1;

        var input = document.createElement("input");
        input.type = "text";               
        input.name = "data_" + inputNumber;
        input.classList.add('form-control', 'm-2')
        input.placeholder = "Enter data " + inputNumber;

        container.appendChild(input);
    }
</script>
{% endblock %}
