{% extends 'dashboard/base.html' %}
{% load static %}

<!-- Title -->
{% block title %}
Question Create
{% endblock %}

<!-- CSS -->
{% block css %}
{% endblock %}

{% block content %}
<!-- Main Content -->
<div class="main-content">
  <section class="section">
    <div class="row">
      {% for question in questions %}
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card card-secondary">
          <div class="card-header">
            <h4>{{question.title}}</h4>
            <div class="card-header-action">
            </div>
          </div>
          <div class="card-body">
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
</div>
{% endblock %}

<!-- JS -->
{% block js %}
{% endblock %}
